<div class="flex-column" id="test-table">
    <span class="title" id="test-title">Testy</span>
    <span class="subtitle" id="test-code">Testy</span>
    <table class="shadow text" id="table">
        <thead>
        <tr id="table-header">
            <th class="highlight-lecturer-background">Meno</th>
            <th class="highlight-lecturer-background">Id</th>
            <th class="highlight-lecturer-background">Status</th>
        </tr>
        </thead>
        <tbody id="test-table-body">

        </tbody>
    </table>
</div>
