<div class="flex-column" id="test-table">
    <span class="title" id="test-title">Testy</span>

    <div class="code-header flex-row">
        <span class="subtitle" id="test-code">Testy</span>
        <div><a id="export-pdf-button" class="highlight-lecturer"> <i class="fas fa-file-pdf"></i></a>
            <a id="export-csv-button" class="highlight-lecturer"><i class="fas fa-file-csv"></i></a>
        </div>

    </div>

    <table class="shadow text" id="table">
        <thead>
        <tr id="table-header">
            <th class="highlight-lecturer-background">Meno</th>
            <th class="highlight-lecturer-background">Id</th>
            <th class="highlight-lecturer-background">Akcia</th>
        </tr>
        </thead>
        <tbody id="test-table-body">

        </tbody>
    </table>
</div>


