#non-active-test-detail {

}

.subtitle {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    align-self: center !important;
}

.code-header {
    justify-content: space-between !important;
    width: 100%;
    margin-bottom: 20px;
}

.empty-table {
    width: 100%;
    height: 200px;
    font-weight: 700;
    font-size: x-large;
    color: var(--text-input-placholder-color);
    text-align: center;
}

.edit-test {
    font-size: 30px;
    background-color: transparent;
    text-align: center;
}


#export-csv-button, #export-pdf-button {
    font-size: 32px !important;
    margin: 10px;
}

:is(#export-csv-button,#export-pdf-button):hover {
    background-color: var(--text-input-color);
    cursor: pointer;
}
