#draw-question {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

#draw-question :is(.highlight-student-background,.highlight-lecturer-background) {
    margin-bottom: 30px;
    height: 60px;
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#draw-question :is(.highlight-student-background,.highlight-lecturer-background) .button-icon {
    margin-right: 20px;
    font-size: 30px;
}
