<div id="draw-question">
    <app-question-wording id="question-wording-element" titleHidden></app-question-wording>
    <button class="highlight-student-background text semi-bold" id="draw">
        <span>Kresliť</span>
        <span class="button-icon"><i class="fa fa-pen"></i></span>
    </button>
    <button class="highlight-student-background text semi-bold" id="scan">
        <span>Nahrať</span>
        <span class="button-icon"><i class="fas fa-file-upload"></i></span>
    </button>
    <input hidden name="image-file" type="file" id="image-upload" accept="image/png, image/jpeg">
</div>
