<section id="home">
    <section id="intro">
        <div class="space flex-column">
        <span class="title">
            Jednoduchá platforma na skúšanie <span class="highlight-lecturer" id="dynamic-title">vedomosti</span>
        </span>
            <span class="subtitle">Si študent alebo učiteľ ?</span>
            <button class="highlight-student-background" id="student-button"><span class="subtitle">Som študent</span>
            </button>
            <button class="highlight-lecturer-background" id="lecturer-button"><span class="subtitle">Som učiteľ</span>
            </button>
        </div>
    </section>

    <section id="form">
        <div class="flex-column" id="dynamic-form">
        </div>
    </section>
    <a  class="link" href="./app/views/documentation/index.html">Dokumentácia</a>
</section>
