<div class="flex-column" id="test-table">
    <span class="title">Testy</span>
    <table class="shadow text" id="table">
        <thead>
        <tr id="table-header">
            <th class="highlight-lecturer-background">Názov</th>
            <th class="highlight-lecturer-background">Kľúč</th>
            <th class="highlight-lecturer-background">Vytvorené</th>
            <th class="highlight-lecturer-background">Status</th>
            <th class="highlight-lecturer-background">Akcia</th>
        </tr>
        </thead>
        <tbody id="test-table-body">

        </tbody>
    </table>

</div>
