<div class="flex-column" id="home-form">
    <form class="flex-column" id="form">
        <div class="form-header highlight-lecturer-background flex-row">
            <span class="subtitle">Som učiteľ</span>
        </div>
        <span class="subtitle">Prihlasovacie údaje</span>
        <label for="name-lecturer"></label>
        <input id="name-lecturer" placeholder="Meno" type="text">
        <label for="surname-lecturer"></label>
        <input id="surname-lecturer" placeholder="Priezvisko" type="text">
        <label for="email-lecturer"></label>
        <input id="email-lecturer" placeholder="Email" type="email">
        <label for="password-lecturer"></label>
        <input id="password-lecturer" placeholder="Heslo" type="password">
        <button class="highlight-lecturer-background  submit-button" id="lecturer-register-button" type="button"><span
                class="sub-subtitle">Registrovať sa</span>
        </button>
    </form>
</div>

