<div class="flex-column" id="home-form">
    <form class="flex-column" id="form">
        <div class="form-header highlight-lecturer-background flex-row">
            <span class="subtitle">Som učiteľ</span>
        </div>
        <span class="subtitle">Prihlasovacie údaje</span>
        <label for="email"></label>
        <input id="email" placeholder="Email" type="email">
        <label for="password"></label>
        <input id="password" placeholder="Heslo" type="password">
        <button class="highlight-lecturer-background submit-button" id="lecturer-login-button" type="button"><span
                class="sub-subtitle">Prihlásiť sa</span>
        </button>
        <span class="text">Nie ste členom ?&nbsp;
           <span class="highlight-lecturer" id="register-link">Zaregistrujte sa</span></span>
    </form>
</div>
