<div class="flex-row" id="side-menu-header">
    <span class="text" id="side-menu-header-name"></span>
    <div id="side-menu-swap-button">
        <lottie-player background="transparent" id="side-menu-swap-button-animation"
                       speed="1" src="../../../assets/animations/menuAnimation.json">
        </lottie-player>
    </div>

</div>
<div class="shadow-light flex-column" id="side-menu">
    <div id="timer-container" class="student">
        <span class="text">Do konca testu ostáva</span>
        <p class="text" id="timer">99:99:99</p>
    </div>
    <button class="student highlight-student-background icon-button" id="send-test-button">
        <span class="text">Odovzdať test</span>
        <span class=""><i class="fas fa-paper-plane"></i></span>
    </button>
    <button class="lecturer highlight-lecturer-background icon-button" id="create-test-button">
        <span class="text">Vytvoriť test</span>
        <span class=""><i class="fas fa-plus-circle"></i></span>
    </button>
    <button class="lecturer highlight-lecturer-background icon-button" id="show-all-tests">
        <span class="text">Všetky testy</span>
        <span><i class="fas fa-table"></i></span>
    </button>
    <button class="lecturer highlight-lecturer-background icon-button" id="logout-button">
        <span class="text">Odhlásiť sa</span>
        <span class=""><i class="fas fa-sign-out-alt"></i></span>
    </button>
</div>

