<div class="flex-column" id="home-form">
    <form class="flex-column" id="form">
        <div class="form-header highlight-student-background flex-row">
            <span class="subtitle">Som študent</span>
        </div>
        <span class="subtitle">Prihlasovacie údaje</span>
        <label for="code-test"></label>
        <input id="code-test" placeholder="Kód testu" type="text">
        <label for="id-student"></label>
        <input id="id-student" placeholder="ID" type="text">
        <label for="name-student"></label>
        <input id="name-student" placeholder="Meno" type="text">
        <label for="surname-student"></label>
        <input id="surname-student" placeholder="Priezvisko" type="text">
        <button class="highlight-student-background  submit-button" id="student-login-button" type="button"><span class="sub-subtitle">Prihlásiť sa</span>
        </button>
    </form>
</div>
