<div id="pair-question-creator">
    <div class="question-option">
        <div class="question-header  text highlight-lecturer-background">
            Párovanie správnych odpovedí
        </div>
        <label for="question-text"></label>
        <textarea id="question-text" placeholder="Otázka"></textarea>
        <label for="question-points"></label>
        <input id="question-points" placeholder="Body" type="number">
    </div>

    <div id="question-pairs">

    </div>

    <button class="highlight-lecturer-background text" id="add-pair-button">
        <span class="text semi-bold">Pridať možnosť</span>
        <span class="add-icon"><i class="fas fa-plus-circle"></i></span>
    </button>
</div>

