#canvas-panel {
    position: fixed;
    right:0;
    top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 20px;
    z-index: 110;
}


#canvas-panel .colors {
    border-radius: 12px;
    backdrop-filter: blur(5px);
}

#canvas-panel .colors .color-picker-container {
    position: relative;
    border-radius: 24px;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    margin: 5px 0 5px 0;
}

.color-picker-hidden {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#canvas-panel .color-picker {
    border-radius: 50%;
    padding: 5px;
    width: 2vh;
    height: 2vh;
    transition: transform 0.2s;
}

#canvas-panel .color-picker:hover,
#canvas-panel .tools button:hover, .stroke:hover {
    cursor: pointer;
    transform: scale(1.4);
}

#canvas-panel .tools {
    backdrop-filter: blur(5px);
}

#canvas-panel .tools button, #color-picker-visible {
    width: fit-content;
    width: -moz-fit-content;

    display: flex;
    height: fit-content;
    padding: 5px;
    margin: 0 0 10px 0;
    transition: transform 0.2s;
    background-color: var(--primary-color);
    border-radius: 50%;
}

#color-picker-visible {
    background-color: rgba(0, 0, 0, 0.5);
}

.panel-section {
    display: flex;
    justify-content: center;
    width: 35px;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.tool-stroke {
    border-radius: 12px;
    backdrop-filter: blur(5px);
}

.tool-stroke .stroke {
    border-radius: 50%;
    background-color: black;
    padding: 5px;
    width: 2vh;
    height: 2vh;
    transition: transform 0.2s;
    margin: 5px 0 5px 0;
}

.tool-stroke .stroke1 {
    width: 10px;
    height: 10px;

}

.tool-stroke .stroke2 {
    width: 20px;
    height: 20px;

}

.fas {
    border-radius: 20px !important;
    display: inline-flex;
    font-size: 30px !important;
}
