<div id="canvas-panel" class="shadow">
    <div id="colorsPanel" class="colors panel-section">
        <div class="color-picker-container">
            <input id="color-picker-hidden"
                   class="color-picker-hidden" type="color">
            <div id="color-picker-visible" class="color-picker">
                <i class="fas fa-eye-dropper"></i>
            </div>
        </div>
    </div>
    <div class="tools panel-section">
        <button id="brush" aria-label="brush">
            <i class="fas fa-paint-brush"></i>
        </button>
        <button id="rubber" aria-label="rubber">
            <i class="fas fa-eraser"></i>
        </button>
        <button id="fill" aria-label="fill">
            <i class="fas fa-fill-drip"></i>
        </button>
        <button id="delete-all" aria-label="deleteAll">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
    <div class="tool-stroke panel-section">
        <div id="stroke2" class="stroke stroke2"></div>
        <div id="stroke1" class="stroke stroke1"></div>
    </div>
</div>
