<div id="math-question-view">
    <app-question-wording id="question-wording-element" titleHidden></app-question-wording>
    <p><span id="math-exp"></span></p>
    <app-points-edit id="points-edit" disabled="false"></app-points-edit>
    <p><span id="test"></span></p>
   <p><span id="student-answer"></span></p>
    <button id="open-picture"  class="highlight-lecturer-background text semi-bold">
        <span>Zobraziť obrázok</span>
        <span   class="button-icon"><i class="fas fa-image"></i></span>
    </button>
</div>
