<div id="math-question">
    <app-question-wording id="question-wording-element" titleHidden></app-question-wording>
    <div id="math-exp"></div>
    <app-math-panel id="math-panel"></app-math-panel>
    <p><span id="answer"></span></p>
    <button class="highlight-student-background text semi-bold" id="scan">
        <span>Nahrať</span>
        <span class="button-icon"><i class="fas fa-file-upload"></i></span>
    </button>
    <input hidden name="image-file" type="file" id="image-upload" accept="image/png, image/jpeg">
</div>
